* {
	margin:0;
	padding:0;
}
body {
	background:#FFFFFA;
}

header {
	width:100%;
}
th{
	color:#064946; 
	font-size: xx-large;

}
td{
	color:#0f060d; 
	font-size: xx-large;

}
.estiloLetra {
    margin: 60px 20px;

}
.button-block {
	outline: none;
	border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
	background:rgb(163, 9, 224);
    color:white;
	transition: all .5s ease;
    -webkit-appearance: none;
    margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
    display: block;
    width: 70%;
}

header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#390259;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#490c8f;
}

section {
	padding:20px;
}

@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#4f0259;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}


@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}
